* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
a,
button,
input,
textarea {
  font-family: 'Poppins', sans-serif;
}

:root {
  font-size: 10px;
  --sweet-pink: #f9bbbe;
  --light-pink: #e47c97;
  --dark-pink: #e83177;
  --yellow: #ffd9a8;
}

body {
  background: var(--sweet-pink);
}

header {
  background: var(--light-pink);
  width: 100%;
  padding: 1rem 0;
}

header > div {
  width: 90vw;
  max-width: 720px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

header h1 {
  color: #fff;
  text-align: center;
}

header span {
  font-weight: 500;
  display: block;
}

main {
  width: 90vw;
  max-width: 500px;
  margin: 1.6rem auto;
}

main form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}

main form h2 {
  font-size: 2.4rem;
  color: var(--dark-pink);
}

main form .form-control {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

main form .form-control label {
  font-weight: 500;
}

main form .form-control input,
main form .form-control textarea {
  border: none;
  border-radius: 0.4rem;
  width: 100%;
  padding: 1rem 1.2rem;
}

main form .form-control input:focus,
main form .form-control textarea:focus {
  outline-color: var(--dark-pink);
}

main form .form-control textarea {
  min-height: 100px;
  resize: none;
}

main form button {
  background: var(--dark-pink);
  border: none;
  border-radius: 4px;
  width: 100%;
  padding: 1rem 0;
  color: #fff;
  font-weight: 500;
}

main form button:hover {
  background: var(--light-pink);
}

footer {
  background: var(--light-pink);
  padding: 1rem 0;
  width: 100%;
}

footer h2 {
  font-size: 2.4rem;
  color: #fff;
}

footer .container {
  width: 90vw;
  max-width: 500px;
  margin: 0 auto;
}

footer .contact-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #fff;
  font-size: 1.4rem;
}

footer .container > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

footer p {
  display: inline-block;
  margin-top: 1rem;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
}
