* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
a,
button,
input,
textarea {
  font-family: 'Poppins', sans-serif;
}

:root {
  font-size: 10px;
  --light-pink: #e47c97;
  --dark-pink: #e83177;
  --yellow: #ffd9a8;
}

.container {
  width: 90vw;
  max-width: 720px;
  margin: 0 auto;
}

header {
  background: var(--light-pink);
  width: 100%;
  padding: 1rem 0;
}

header > div {
  width: 90vw;
  max-width: 720px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

header h1 {
  color: #fff;
  text-align: center;
}

header span {
  font-weight: 500;
  display: block;
}

section p {
  text-align: justify;
}

section#callout {
  background-image: linear-gradient(to right, var(--dark-pink), var(--yellow));
  padding: 1.8rem 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

section#callout p {
  display: inline-block;
  font-size: 2rem;
  text-align: center;
  max-width: 190px;
  color: #fff;
  font-weight: 700;
}

section#about {
  padding: 1.8rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  text-align: center;
}

section#about h2 {
  color: var(--dark-pink);
}

section#compromise {
  padding: 1.8rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  text-align: center;
}

section#compromise h2 {
  color: var(--dark-pink);
}

section#services {
  padding: 1.8rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  text-align: center;
}

section#services h2 {
  display: inline-block;
  color: var(--dark-pink);
  margin-bottom: 2.4rem;
}

section#services #cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.6rem;
}

section#services .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}

section#services .card span {
  color: var(--dark-pink);
  font-size: 1.4rem;
}

section#staff {
  padding: 1.8rem 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  text-align: center;
}

section#staff h2 {
  display: inline-block;
  color: var(--dark-pink);
  margin-bottom: 2.4rem;
}

#testimonials {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}

.testimonial {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.testimonial h3 {
  color: var(--dark-pink);
}

@media (min-width: 768px) {
  section#services #cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
